
body{
    background-image: url("../images/background.png");
    justify-content: center;
    align-content: center;
}
div{
	background-color: white;
    margin: 10px;
    border: solid 2px antiquewhite;
	padding: 10px;
    
}

h1, h2, h3 span{
	font-weight: bold;
	text-align: center;
}

h1{
	font-size: 30pt;
}

/* Specfic Elements*/
div.header, div.gems{
	background-color: #e0e0eb;
}

/* Classes */
.numberToMatch, .winsAndLosses{
	float: left;
	width: 25%;
	height: 60px;
}
.userTotal{
    height: 100px;
    box-sizing: border-box;
    background: lightseagreen;
}
.gems{
    clear: both;
  
}
.gemImage{
	height: 60px;
	margin: 10px;
}

/* IDs */
#blue{
	color: #3092c7;
}
#green{
	color: #00aa59;
}
#red{
	color: #ec4b5f;
}
#yellow{
	color: #ffc225;
}